
.drinks-container{
    width: 100%;
    height: 40rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: auto;
}
.drinks-title{
    font-size: 1.8rem;
}
.drinks-paragraph{
    font-size: 0.9rem;
}
