
.logo{
    width: 4rem !important;
}
.navbar-nav .nav-link{
    color: white;
    font-size: 2.3vh;
}
.navbar-toggler, .custom-toggler{
    color: white !important;
    background-color: white;
}
.animated-link {
    position: relative !important;
    color: white !important;
    font-weight: bold;
    display: inline-block;
    transition: transform 0.3s ease;
}

.animated-link:hover {
    transform: scale(1.1); 
}
