
.header{
    color: white !important;
}
.header-title {
    background: linear-gradient(90deg, #D4AF37 0%, #F2E494 50%, #B8860B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 7.7vh;
}
.header-paragraph{
    font-size: 2.3vh;
    width: 85%;
}
.gold{
    color: #D4AF37;
}
.button-gradient {
    background: linear-gradient(90deg, #D4AF37 0%, #F2E494 50%, #B8860B 100%);
    color: black; 
    font-size: 2.3vh;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.button-gradient:hover {
    transform: scale(1.05);
}

.button-gradient:active {
    transform: scale(0.98);
}

.bg-header{
    background-image: url('../icons/bg-header.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.header-glass{
    width: 100%;
}
