*{
    font-family: "Playfair Display", serif;
}
/* body {
    background: 
        url('../icons/bg-final.svg'),
        linear-gradient(to top left, #FF5F6D 0%, #28222D 50%);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    border: 1px solid red;
    height: 100%;
    
}

@media (max-width: 991px) {
    body{
        height: 100%;
    }
} */