*{
    font-family: "Playfair Display", serif;
}
body {
    background: 
        url('../icons/bg-final.svg'),
        linear-gradient(to top left, #FF5F6D 0%, #28222D 50%);
    background-repeat: no-repeat;
    background-size: cover; /* Adjusts the image size to cover the screen */
    background-position: center;
    height: 100vh;
    border: 1px solid red;
}
